---
Checks: >-
  clang-analyzer-*,
  performance-*,
  portability-*,
  bugprone-*,
  security-*,
  misc-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
AnalyzeTemporaryDtors: false
WarningsAsErrors: 'true'
